<div class="hero-unit">
  <h1>Chicago Techpong</h1>
  <br />
  <h2><ul><li><a href="http://techpong.com" target="_blank">Rules and Info</a></li></ul></h2>
  <h2><ul><li>Contact <a href="https://twitter.com/techpong" target="_blank">via twitter</a> 
      or <a href="mailto:ekingery@gmail.com">email Eric</a></li></ul></h2>
</div>
<% @games.each do |game| %>
<div class="row-fluid">
  <div class="span6">
    <h2>Recent Results for <%= link_to game.name, game_path(game) %></h2>
    <% if game.recent_results.any? %>
      <ul>
        <%= render :partial => 'result', :collection => game.recent_results %>
      </ul>
    <% end %>
  </div>
  <div class="span6">
    <h2>Recent Ratings</h2>
    <ol>
      <%= render :partial => 'rating', :collection => game.all_ratings.select(&:active?) %>
    </ol>
</div>
<% end %>
